.containerVisibleComments {
  padding-top: 15px;
  padding-bottom: 25px;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.headerComents {
  margin-top: 0;
  margin-bottom: 10px;
}
.headerName {
  color: rgb(0, 0, 0);
}
.name {
  color: rgb(216, 130, 0);
}
.headerText {
  font-weight: 700;
  display: flex;
  flex-direction: column;
}
.text {
  margin: 0;
}
